<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<body>

   <div class="container">
      <hr />
          <div class="card">
               <div class="card-header">
                     <h2>Edição de categoria</h2>
               </div>
    
               <div class="card-body">
                    <form method="POST" action="/admin/categories/update">
                        <input type="text" name="title" placeholder="Defina o titulo da categoria" value="<%= categories.title %>"><br>
                        <input type="hidden" name="id" value="<%= categories.id %>">
                        <br />
                        <button class="btn btn-success">Atualizar</button>
                    
                    </form>
               </div>
          </div>
   </div>
</body>

<%- include('../../partials/footer.ejs') %>